/.phpunit.cache
*.zip
/node_modules
# /public/build
/public/hot
/public/storage
/public/preview-*.html
/storage/*.key
/storage/pail
/vendor
.env
.env.*
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
